<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sirtec Doc Flow</title>
      
    <link rel="icon" href="../static/logo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://rawcdn.githack.com/Loopple/loopple-public-assets/ad60f16c8a16d1dcad75e176c00d7f9e69320cd4/argon-dashboard/css/nucleo/css/nucleo.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loopple_pdf.css') }}">
    <link rel="stylesheet" href="../static/loopple_pdf.css">
    <link rel="stylesheet" href="../static/theme_home.css">
    
</head>
  
  <body class="g-sidenav-show">
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white loopple-fixed-start" id="sidenav-main">
        <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
            <div class="sidenav-header  align-items-center"> <a class="navbar-brand"> <img src="https://sirtec.com.br/restrito/logo.png" class="navbar-brand-img"> Sirtec Doc Flow</a> </div>
            <hr class="mt-0 mb-3">
            <div class="d-flex align-items-center"> <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/7407996-user-icon-person-icon-client-symbol-login-head-sign-icon-design-vetor.jpg" class="avatar ml-3">
                <div class="ml-3">
                    <h4 class="mb-0">{{session['username']}}</h4>
                    <p class="text-xs mb-0">{{session['office']}}</p>
                </div>
            </div>
            <hr class="mt-3 mb-0">
            <div class="navbar-inner">
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <ul class="navbar-nav">
                        <li class="nav-item"> <a class="nav-link {% if active_page == 'admin.admin' %}active{% endif %}" href="{{ url_for('admin.admin') }}"> <i class="fa fa-desktop "></i> <span class="nav-link-text">Home</span> </a> </li>
                        <li class="nav-item"> <a class="nav-link {% if active_page == 'pdf.pdf' %}active{% endif %}" href="{{ url_for('pdf.pdf') }}"> <i class="fa fa-file-pdf text-info"></i> <span class="nav-link-text">PDF</span> </a> </li>
                        <li class="nav-item"> <a class="nav-link {% if active_page == 'usuarios.usuarios' %}active{% endif %}" href="{{ url_for('usuarios.usuarios') }}"> <i class="fa fa-address-book "></i> <span class="nav-link-text">Usuários</span> </a> </li>
                        <li class="nav-item"> <a class="nav-link {% if active_page == 'old_files.old_files' %}active{% endif %}" href="{{ url_for('old_files.old_files') }}"><i class="fa fa-bookmark text-success"></i> <span class="nav-link-text">Documentos Antigos</span> </a> </li>
                        <li class="nav-item"> <a class="nav-link" href="javascript:"> <i class="fa fa-cog text-dark"></i> <span class="nav-link-text">Configurações</span> </a> </li>
                    </ul>
                </div>
                <div class="bg-gradient-primary card position-fixed bottom-0">
                </div>
            </div>
        </nav>
    </nav>
    <div class="main-content" id="panel">
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom" id="navbarTop">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark active" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner"> <i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i> <i class="sidenav-toggler-line"></i> </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown"> <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-layer-group"></i> </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                                <div class="row shortcuts px-4"> 
                                  <a href="https://sirtec.desk.ms/?Portal#Home" class="col-4 shortcut-item text-center"> 
                                      <span class="shortcut-media avatar rounded-circle bg-gradient-info "> 
                                          <i class="fa fa-book" aria-hidden="true"></i> 
                                      </span> 
                                      <small class="text-white">DeskManager</small> 
                                  </a> 
                                  <a href="https://autenticacao.allstrategy.com.br" class="col-4 shortcut-item text-center"> 
                                      <span class="shortcut-media avatar rounded-circle bg-gradient-red"> 
                                          <i class="fa fa-university"></i> 
                                      </span> 
                                      <small class="text-white">Plano</small> 
                                  </a> 
                                  <a href="https://sirtec.com.br/ti/index.php" class="col-4 shortcut-item text-center"> 
                                      <span class="shortcut-media avatar rounded-circle bg-gradient-orange"> 
                                          <i class="fa fa-users"></i> 
                                      </span> 
                                      <small class="text-white">Meu RH</small> 
                                  </a> 
                            </div>
                        </li>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-xl py-0 overflow-hidden">
                                <div class="list-group list-group-flush"> 
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar --> <img alt="Image placeholder" src="https://cdn-icons-png.flaticon.com/256/5146/5146077.png" class="avatar rounded-circle"> </div>
                                        </div>
                                    </a> 
                                </div>
                            </div>
                        </li>
                    </ul>
                      <div>
                          <div class="list-group list-group-flush"> 
                              <a href="#" >
                                  <div class="row align-items-center">
                                      <div class="col-auto">
                                          <i class="fa fa-sign-out-alt avatar rounded-circle" onclick="logout()"></i>
                                      </div>
                                  </div>
                              </a> 
                          </div>
                      </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-12 px-sm-0">
                    <div class="card shadow-none px-0 bg-transparent mt-0 mb-4">
                        <div class="card-body px-0 pb-0">
                            <div class="px-0 pb-4">
                                <div class="row flex-row">
                                    <div class="col-lg-12">
                                        <div class="card max-height-vh-7 h-100" style="max-height: 80vh;">
                                            <div class="card-header shadow-xl">
                                              <h2 class="text-center">Lista de documentos cadastrados</h2>
                                            </div>
                                            <br>
                                            <form class="navbar-search navbar-search-dark form-inline ml-auto mb-0" id="navbar-search-main">
                                                <button type="button" class="close align-items-center" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <br>
                                                <br>
                                                <div class="form-group mb-0">
                                                    <div class="input-group input-group input-group-merge">
                                                        <input class="form-control ml-2" id="searchInput" placeholder="Buscar" type="text">
                                                        <div class="input-group-append mr-2">
                                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <br>
                                            <button type="button" class="botao" data-toggle="modal" data-target="#insert">
                                                Adicionar Item
                                            </button>
                                            <div class="card-body overflow-auto overflow-x-hidden">
                                                
                                                <div class="row justify-content-start mb-8">
                                                    
                                                    <table id="myTable" class="table align-items-center">
                                                        <thead>
                                                            <tr>
                                                                <th style="display: none;">#</th>
                                                                <th id="nome-header">Nome</th>
                                                                <th>Versão</th>
                                                                <th>Categoria</th>
                                                                <th>Setor</th>
                                                                <th>Data</th>
                                                                <th>Ações</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for dado in dados %}
                                                                <tr data-nome="{{ dado.name }}">
                                                                    <td style="display: none;">{{ dado.id_pdf }}</td>
                                                                    <td>{{ dado.name }}</td>
                                                                    <td>{{ dado.version }}</td>
                                                                    <td>{{ dado.category }}</td>
                                                                    <td>{{ dado.sector }}</td>
                                                                    <td>{{ dado.date }}</td>
                                                                    <td>
                                                                        <button class="btn btn-link" onclick="showPDF('{{ dado.id_pdf }}')">
                                                                            <i class="fas fa-file-pdf fa-lg"></i>
                                                                        </button>
                                                                        <button type="button" class="botao-edit" data-toggle="modal" data-target="#editModal" data-id_pdf="{{ dado.id_pdf }}" data-name="{{ dado.name }}" data-category="{{ dado.category }}" data-sector="{{ dado.sector }}" data-version="{{ dado.version }}" data-date="{{ dado.date }}">
                                                                            Editar
                                                                        </button>
                                                                        <button type="button" class="botao-delete" data-toggle="modal" data-target="#deleteModal" data-id_pdf="{{ dado.id_pdf }}" data-name="{{ dado.name }}">
                                                                            Excluir
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Animaçao de carregamento -->
        <div class="loader" style="display: none;"></div>
        
        <!-- modal para exibir o pdf -->
        <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pdfModalLabel">PDF Viewer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="pdfViewer"></div>
                        <!-- Conteúdo do PDF será carregado aqui -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para adicionar informações -->
        <div class="modal" id="insert" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modais">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text">Adicionar Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Formulário para adicionar informações -->
                        <form id="addForm" method="post" action="{{ url_for('generate.generate') }}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nome" class="text">Nome:</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>
                            <div class="form-group">
                                <label for="categoria" class="text">Categoria:</label>
                                <select class="form-control" id="categoria" name="categoria" required>
                                    <option value="Procedimentos">Procedimentos</option>
                                    <option value="Politicas">Politicas</option>
                                    <option value="Manuais">Manuais</option>
                                    <option value="Instruções">Instruções</option>
                                    <option value="Documentos Gerais">Documentos Gerais</option>
                                    <option value="Politicas Gerais">Políticas Gerais</option>
                                    <option value="Projetos">Projetos</option>
                                    <option value="Documentos de Clientes">Documentos de Clientes</option>
                                    <option value="ISO">ISO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="setor" class="text">Setor:</label>
                                <select class="form-control" id="setor" name="setor" required>
                                    <option value="SESMT Corporativo">SESMT Corporativo</option>
                                    <option value="Almoxarifado">Almoxarifado</option>
                                    <option value="PCP">PCP</option>
                                    <option value="Frota">Frota</option>
                                    <option value="SGI">SGI</option>
                                    <option value="Produção">Produção</option>
                                    <option value="STC">STC</option>
                                    <option value="Comunicação">Comunicação</option>
                                    <option value="Gestão de Pessoas">Gestão de Pessoas</option>
                                    <option value="Controladoria">Controladoria</option>
                                    <option value="Crescimento e Desenvolvimento">Crescimento e Desenvolvimento</option>
                                    <option value="Financeiro">Financeiro</option>
                                    <option value="Jurídico">Jurídico</option>
                                    <option value="Qualidade">Qualidade</option>
                                    <option value="TI">TI</option>
                                    <option value="CIPA">CIPA</option>
                                    <option value="Meio ambiente">Meio ambiente</option>
                                    <option value="Brigada de emergência">Brigada de emergência</option>
                                    <option value="RH Administrativo">RH Administrativo</option>
                                    <option value="Compras">Compras</option>
                                    <option value="Gestão de Clientes e Forn.">Gestão de Clientes e Forn</option>
                                    <option value="Gestão de Ativos">Gestão de Ativos</option>
                                    <option value="Planejamento Financeiro">Planejamento Financeiro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="versao" class="text">Número de Versão (00-05):</label>
                                <input type="number" class="form-control" id="versao" name="versao" title="Por favor, insira um número de versão válido (00-99)" required>
                            </div>
                            <div class="form-group">
                                <label for="data">Data:</label>
                                <input type="date" class="form-control" id="data" name="data" required>
                            </div>
                            <div class="form-group">
                                <label for="arquivo">Selecionar Arquivo:</label>
                                <input type="file" id="arquivo" name="arquivo" required>
                            </div>

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Enviar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
        
                </div>
            </div>
        </div>

        <!-- Modal para edição de informações -->
        <div class="modal" id="editModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modais">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text">Editar Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <!-- Formulário para edição de informações -->
                        <form id="editForm" method="post" action="{{ url_for('edit.edit') }}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="edit_nome" class="text">Nome:</label>
                                <input type="text" class="form-control" id="edit_nome" name="edit_nome" required>
                            </div>
                            <div class="form-group">
                                <label for="edit_categoria" class="text">Categoria:</label>
                                <select class="form-control" id="edit_categoria" name="edit_categoria" required>
                                    <option value="Procedimentos">Procedimentos</option>
                                    <option value="Manuais">Manuais</option>
                                    <option value="Instrucoes">Instruções</option>
                                    <option value="Documentos Gerais">Documentos Gerais</option>
                                    <option value="Politicas Gerais">Políticas Gerais</option>
                                    <option value="Projetos">Projetos</option>
                                    <option value="Documentos de Clientes">Documentos de Clientes</option>
                                    <option value="ISO">ISO</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_setor" class="text">Setor:</label>
                                <select class="form-control" id="edit_setor" name="edit_setor" required>
                                    <option value="SESMT Corporativo">SESMT Corporativo</option>
                                    <option value="Almoxarifado">Almoxarifado</option>
                                    <option value="PCP">PCP</option>
                                    <option value="Frota">Frota</option>
                                    <option value="SGI">SGI</option>
                                    <option value="Produção">Produção</option>
                                    <option value="STC">STC</option>
                                    <option value="Comunicação">Comunicação</option>
                                    <option value="Gestão de Pessoas">Gestão de Pessoas</option>
                                    <option value="Controladoria">Controladoria</option>
                                    <option value="Crescimento e Desenvolvimento">Crescimento e Desenvolvimento</option>
                                    <option value="Financeiro">Financeiro</option>
                                    <option value="Jurídico">Jurídico</option>
                                    <option value="Qualidade">Qualidade</option>
                                    <option value="TI">TI</option>
                                    <option value="CIPA">CIPA</option>
                                    <option value="Meio ambiente">Meio ambiente</option>
                                    <option value="Brigada de emergência">Brigada de emergência</option>
                                    <option value="RH Administrativo">RH Administrativo</option>
                                    <option value="Compras">Compras</option>
                                    <option value="Gestão de Clientes e Forn.">Gestão de Clientes e Forn</option>
                                    <option value="Gestão de Ativos">Gestão de Ativos</option>
                                    <option value="Planejamento Financeiro">Planejamento Financeiro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_version" class="text">Número de Versão (00-05):</label>
                                <input type="number" class="form-control" id="edit_version" name="edit_version" required>
                            </div>                           
                            <div class="form-group">
                                <label for="edit_data">Data:</label>
                                <input type="date" class="form-control" id="edit_data" name="edit_data" required>
                            </div>
                            <div class="form-group">
                                <label for="arquivo">Selecionar Arquivo:</label>
                                <input type="file" id="arquivo" name="arquivo">
                            </div>

                            <!-- Adicione um campo oculto para armazenar o id_pdf -->
                            <input type="hidden" id="edit_id_pdf" name="edit_id_pdf" value="edit_id_pdf"">

                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Atualizar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para exclusão de informações -->
        <div class="modal" id="deleteModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modais">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text">Excluir Item</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form id="deleteForm" method="POST" action="{{ url_for('delete.delete') }}">

                            <p>Deseja excluir o documento <span id="delete_document_name"></span>?</p>
                            <input id="delete_id_pdf" type="hidden" name="delete_id_pdf" value="delete_id_pdf">
                    
                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="footer align-items-center text-center" style="position: absolute; bottom: 0; width: 100%; display: flex; justify-content: center;">
        <div class="row align-items-center justify-content-center justify-content-lg-between">
            <div class="col-lg-12">
                <div class="copyright text-center text-lg-left text-footer">© 2024 Made by<a class="font-weight-bold ml-1" href="#" target="_blank">VK</a> for<a class="font-weight-bold ml-1" href="#" target="_blank">Sirtec</a></div>
            </div>
        </div>
    </footer> 

    <script src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/jquery.min.js"></script>
    <script src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://rawcdn.githack.com/Loopple/loopple-public-assets/5cef8f62939eeb089fa26d4c53a49198de421e3d/argon-dashboard/js/vendor/chart.extension.js"></script>
    <script src="https://rawcdn.githack.com/Loopple/loopple-public-assets/7bb803d2af2ab6d71d429b0cb459c24a4cd0fbb4/argon-dashboard/js/argon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='admin_pdf.js') }}"></script>
    <script src="{{ url_for('static', filename='loopple.js') }}"></script>

    <script>
          function logout() {
              window.location.href = "{{ url_for('logout.logout') }}";
          }
    </script>
  </body>